---
import Layout from '@layouts/Layout.astro';
import type { PaginateFunction } from 'astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

export async function getStaticPaths({
  paginate
}: {
  paginate: PaginateFunction;
}) {
  const allImages = await getCollection('i');
  const images = allImages.sort((a, b) => {
    const dateA = new Date(a.data.upload);
    const dateB = new Date(b.data.upload);
    if (isNaN(dateA.getTime()) || isNaN(dateB.getTime())) {
      return 0;
    }
    return dateB.getTime() - dateA.getTime();
  });
  return paginate(allImages, { pageSize: 10 });
}
const { page } = Astro.props;
---

<Layout title="Gallery Image">
  <div
    class="gallery px-6 py-6 xs:px-9 sm:px-12 md:px-16 lg:px-24"
    transition:name="main"
  >
    <ul
      class="grid grid-cols-1xs:grid-cols-2 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-9 gap-4"
    >
      {
        page.data.map((entry) => (
          <li class="image-list">
            <a href={`/gallery/${entry.slug}`} transition:name={entry.slug}>
              <Image
                class="rounded-sm h-full object-cover"
                src={{
                  height: entry.data.cover.height,
                  src: entry.data.cover.src,
                  width: entry.data.cover.width,
                  format: 'webp'
                }}
                alt={entry.data.title}
                quality={'mid'}
                format={'avif'}
              />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="pagination flex items-center self-center gap-4">
    {
      page.url.prev ? (
        <a
          class="bg-gray-700 text-cyan-50 px-2 py-1 rounded-sm"
          href={page.url.prev}
        >
          Prev
        </a>
      ) : (
        <p class="bg-gray-300 text-cyan-50 px-2 py-1 rounded-sm">Prev</p>
      )
    }
    {page.currentPage}
    {
      page.url.next ? (
        <a
          class="bg-gray-700 text-cyan-50 px-2 py-1 rounded-sm"
          href={page.url.next}
        >
          Next
        </a>
      ) : (
        <p class="bg-gray-300 text-cyan-50 px-2 py-1 rounded-sm">Next</p>
      )
    }
  </div>
</Layout>

<style>
  .image-list {
    aspect-ratio: 462 / 695;
  }
</style>
