---
import Layout from '@layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const allPost = await getCollection('i');
  return allPost.map((post: { [x: string]: any; slug: any }) => ({
    params: { slug: post.slug },
    props: { post }
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout
  title={post.data.title}
  description={post.data.description}
  background={post.data.cover.src}
>
  <a
    href="/gallery"
    class="w-22 flex items-center self-center rounded-sm bg-gray-500 px-2 py-1 text-cyan-50"
  >
    <Icon name="arrow-big-left" class="h-4 w-4" />
    <span class="ml-1">Back</span>
  </a>
  <div
    class="content mt-4 flex flex-col-reverse gap-4 px-4 xs:grid-cols-2 xs:px-9 sm:grid sm:px-12 md:px-16 lg:px-24"
  >
    <div class="prose">
      <table class="text-gray-500">
        <tr>
          <td class="flex items-center gap-2"
            ><Icon name="mage:caret-right-fill" />Title</td
          >
          <td>:</td>
          <td>{post.data.title}</td>
        </tr>
        <tr>
          <td class="flex items-center gap-2"
            ><Icon name="mage:alarm-clock-fill" />Date Upload</td
          >
          <td>:</td>
          <td>{post.data.upload}</td>
        </tr>
        <tr>
          <td class="flex items-center gap-2"
            ><Icon name="mage:alarm-clock-fill" />Date Take</td
          >
          <td>:</td>
          <td>{post.data.take}</td>
        </tr>
        <tr>
          <td class="flex items-center gap-2"
            ><Icon name="mage:camera-fill" />Ap</td
          >
          <td>:</td>
          <td>{post.data.ap}</td>
        </tr>
        <tr>
          <td class="flex items-center gap-2">
            <Icon name="mage:zap-circle-fill" />ISO</td
          >
          <td>:</td>
          <td>{post.data.iso}</td>
        </tr>
        <tr>
          <td class="flex items-center gap-2">
            <Icon name="mage:lens-fill" />Lens</td
          >
          <td>:</td>
          <td>{post.data.lens}</td>
        </tr>
        <tr>
          <td class="flex items-center gap-2">
            <Icon name="mage:eye-fill" />Focus</td
          >
          <td>:</td>
          <td>{post.data.focus}</td>
        </tr>
        <tr>
          <td class="flex items-center gap-2">
            <Icon name="mage:file-2" />Description</td
          >
          <td>:</td>
          <td>{post.data.description}</td>
        </tr>
        <tr>
          <td class="flex items-center gap-2">
            <Icon name="mage:message-dots-upload" />Model</td
          >
          <td>:</td>
          <td
            >@{post.data.model.name}
            <a href={post.data.model.url}>(Link)</a></td
          >
        </tr>
      </table>
    </div>
    <div class="flex flex-col items-center justify-center">
      <Image
        onclick='document.querySelector(".full-image").classList.toggle("!flex"); document.body.classList.toggle("overflow-hidden")'
        class="rounded-md"
        src={post.data.cover}
        alt={post.data.title}
        transition:name={post.slug}
        height={300}
      />
      click image to full view!
    </div>
  </div>
  <div class="flex grow flex-col justify-between">
    <div class="prose flex w-full max-w-full grow flex-col p-9">
      <b>Extra: </b>
      <Content />
    </div>
  </div>
</Layout>
<div
  class="full-image absolute hidden h-screen w-screen flex-col items-center justify-center gap-4 bg-slate-600/35 backdrop-blur-sm"
>
  <div class="max-h-[500px]">
    <Image
      class="max-h-[500px] w-auto"
      src={post.data.cover}
      alt={post.data.title}
      quality={'high'}
      format={'webp'}
    />
  </div>
  <div class="flex gap-2">
    <button
      class="bg-gray-700 p-1 font-bold text-white"
      onclick="document.querySelector('.full-image').classList.toggle('!flex'); document.body.classList.toggle('overflow-hidden')"
      >Close</button
    >
    <a
      href={post.data.cover.src}
      target="_blank"
      class="bg-gray-700 p-1 font-bold text-white"
    >
      Zoom
    </a>
  </div>
</div>
